[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-widget-tweaks = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "*"
django-bootstrap-datepicker-plus = "*"

[dev-packages]

[requires]
python_version = "3.10"
