{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light text-center">Start</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard:home' %}">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard:bodystats:show_latest' %}">Body Stats</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard:predictions:face_analysis' %}">Face Analysis</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'dashboard:workout:exercises' %}">Workout</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="container py-4">
        {% block dashboard_content %}{% endblock %}
    </div>
</div>
{% endblock %}